%h2
	Welcome

%br
%br
#carousel_container
	.carousel_title
		=image_tag "screen.png"
		Electornics & Gadgets
		.right
			%button.btn.btn-small
				See all products
		.clear	
	#carousel
		= render :partial=>'item', :collection=> (1..8).to_a
	%a{:class=>"prev", :id=>"foo2_prev", :href=>"#"}
		%span 
			prev	
	.clear
	%a{:class=>"next", :id=>"foo2_next", :href=>"#"}
		%span 
			next

