// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background: -moz-linear-gradient(top, rgba(237,237,237,0.65) 0%, rgba(252,252,252,0.05) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.65)), color-stop(100%,rgba(252,252,252,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(252,252,252,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(252,252,252,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(252,252,252,0.05) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(237,237,237,0.65) 0%,rgba(252,252,252,0.05) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ededed', endColorstr='#0dfcfcfc',GradientType=0 ); /* IE6-9 */
}

.content{
	min-height: 500px;
}