.carousel_title{
		font-size:16px;
		font-weight: bold;
	}

#carousel_container{
	width:500px;
	margin:0 auto;



#carousel {
	padding: 15px 0 15px 40px;
	position: relative;
	list-style:none;
   
	.item_container{	
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.80) 0%, rgba(252,252,252,0.05) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.65)), color-stop(100%,rgba(252,252,252,0.05))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.80) 0%,rgba(252,252,252,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.80) 0%,rgba(252,252,252,0.05) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.80) 0%,rgba(252,252,252,0.05) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.80) 0%,rgba(252,252,252,0.05) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#0dfcfcfc',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow: 2px 1px 7px 1px #888;
      -webkit-box-shadow: 2px 1px 7px 1px #888;
      box-shadow: 1px 1px 6px 1px #888;
      cursor:pointer;
      padding:10px;
      width:170px;
      float:left;
      margin: 15px 10px;
      height: 210px;
      overflow: hidden;

      img{
      	-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);

      }

      .inner{
			position: relative;	
			top: -90px;

				.item_description{
					background-color: #544a4a;
					color: white;
					font-size: 12px;
					padding: 12px 18px;
					width: 156px;
					left: -10px;
					position: relative;

					img{
						height: 200px;
						width:200px;
						margin: 0 auto;

					}
					.title{
						font-weight: bold;
					}	

				}
				

		}

      .white_tag{
      	-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);

		-moz-box-shadow: 1px 1px 12px 1px #888;
      	-webkit-box-shadow: 1px 1px 12px 1px #888;
      	box-shadow: 1px 1px 12px 1px #888;

		float: left;
		min-width: 20px;
		position: relative;
		top: -20px;
		right: -96px;
		color: red;
		font-weight: bold;
		background-color: white;
		padding: 10px 50px 7px 50px;
		font-size: 12px;

			.special{
				width:50px;
				 -webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);		
			}	

		}  

	}

	.item_container:hover{
      -moz-box-shadow: 2px 1px 7px 1px #0091ff;
      -webkit-box-shadow: 2px 1px 7px 1px #0091ff;
      box-shadow: 1px 1px 6px 1px #0091ff;
    }
}



	a.prev, a.next {
			background: url('scroll-right.png') no-repeat transparent;
			width: 80px;
			height: 300px;
			display: block;
			position: absolute;
			top:180px;
		}
		a.prev {			left: 170px;
							background: url('scroll-left.png') no-repeat transparent;}
		a.prev:hover {background: url('scroll-left-over.png') no-repeat transparent;}					
		a.next:hover {background: url('scroll-right-over.png') no-repeat transparent;}					
		a.next {			right: 170px;}
		a.prev.disabled, a.next.disabled {
			cursor: default;
		}

		a.prev span, a.next span {
			display: none;
		}

}
